html {

	font-family: sans-serif; 
}
table {
    table-layout: fixed;
    width: 100%;
}

body {
	background-color: #b3d4fc;
}

body>div {
	width:90%;
	margin: 1% auto 0 auto;;
	background-color: #FFF;
	padding: 2em;
	box-sizing: border-box;
	border-radius: 3px 15px 5px 30px;

}

body>div:first-child:not(.thank) {
	width:90%;
	margin: 0 auto;
	padding: 1em 1em 0 1em ;
	text-align: right;
	background-color: inherit;
	box-sizing: content-box;
	border-radius: 0;
}

.thank {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
	margin-top: 0px;
	margin-bottom: 0.01em;
}

h2 {
	font-size: 1em;
	font-weight: normal;
	padding-top: 0px;
	margin-top: 0px;
}

.tooltiptext p{
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
    margin: 0;
    width: 100%;
    font-size: 14px;
}

.backwrapper {
    padding-right: 100px;
    width: 100%;
}

.feedback-button, .backbtn{
    display:flex;
    justify-self: right;
    margin-top:20px;    
    padding:10px 30px;
    border: 1px solid #0056b3;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-radius: 3px 15px 3px 15px;
    max-width: 150px;
}
.feedback-button:hover, .backbtn:hover{
	background-color: #0056b3
}

#feedback-toggle:checked ~ .feedback-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    textarea, input {
        min-height: 2em;
        border: 1.5px solid #ddd;
        border-radius: 0.5em;
        margin-bottom: 10px;
    }
    textarea {
        max-width: 99%;
        min-width: 99%;
    }
    .form-button{
        padding: 7px;
        background-color: #FFF;
        border: 1px solid #0056b3;
        color: black;
        border-radius: 5px;
    }
    .form-button:hover{
        background-color: #0056b3
    }
}

.property>td:first-child::before {
    content: '→';
    margin-right: 5px; /* Optional: Abstand zwischen dem Pfeil und dem Inhalt */
}

.property.inverse>td:first-child::before {
    content: '←';
}

.property>td {
    padding: 0.1em 1em; 
    border-radius: 0.5em; /* Abgerundete Ecken */
    transition: background-color 0.3s; /* Sanfter Übergang bei Hover */
}

.property>td:first-child {
	width: 210px !important;

    background-color: white; 
    color: blue; 
    text-align: center; /* Zentriere den Text */
    border: 2px solid #0056b3;
    overflow: hidden;
    text-overflow: ellipsis;  
}

.property>td:nth-child(2) {
    background-color: white; 
    border: 2px solid #ddd;
  
    div {
        display: flex;    
        justify-content: space-between;
        height:100%;
        color: black; 
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.property>td~a{
    text-decoration: none;
    max-width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;  
}