html {

	font-family: sans-serif; 
}
table {
    table-layout: fixed;
    width: 100%;
}

body {
	background-color: #b3d4fc;
}

body>div {
	width:90%;
	margin: 1% auto 0 auto;;
	background-color: #FFF;
	padding: 2em;
	box-sizing: border-box;
	border-radius: 3px 15px 5px 30px;

}

body>div:first-child {
	width:90%;
	margin: 0 auto;
	padding: 1em 1em 0 1em ;
	text-align: right;
	background-color: inherit;
	box-sizing: content-box;
	border-radius: 0;
}
h1 {
	margin-top: 0px;
	margin-bottom: 0.01em;
}

h2 {
	font-size: 1em;
	font-weight: normal;
	padding-top: 0px;
	margin-top: 0px;
}

.feedback-button{
    display:flex;
    justify-self: right;
    margin-top:20px;    
    padding:10px 30px;
    border: 1px solid #0056b3;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-radius: 3px 15px 3px 15px;
    max-width: 150px;
}
.feedback-button:hover{
	background-color: #0056b3
}

#feedback-toggle:checked ~ .feedback-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.property>td:first-child::before {
    content: '→';
    margin-right: 5px; /* Optional: Abstand zwischen dem Pfeil und dem Inhalt */
}

.property.inverse>td:first-child::before {
    content: '←';
}

.property>td {
    padding: 0.1em 1em; 
    border-radius: 0.5em; /* Abgerundete Ecken */
    transition: background-color 0.3s; /* Sanfter Übergang bei Hover */
}

.property>td:first-child {
	width: 220px !important;

    background-color: white; 
    color: blue; 
    text-align: center; /* Zentriere den Text */
    border: 2px solid #0056b3;
}

.property>td>a{
    text-decoration: none;
    max-width: inherit;
        overflow: hidden;
        text-overflow: ellipsis;  
}


.property>td:nth-child(2) {

    display: flex;
    justify-content: space-between;
    background-color: white; 
    color: black; 
    text-align: left;
    border: 2px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;  
}

