html {

	font-family: sans-serif; 
}

tr>td:(1)nd-child {
	max-width: 40%
}

tr>td:(2)nd-child {
	max-width: 60%
}

a[href*="//data.pcp-on-web.de/"] {
	font-weight: bold;
}

body {
	background-color: #b3d4fc;
}

body>div {
	width:90%;
	margin: 2% auto;
	background-color: #FFF;
padding: 50px;
box-sizing: border-box;
border-radius: 3px 15px 5px 30px;

}

h1 {
	margin-top: 0px;
}
